{% extends "Blog/base.html" %}
{% block body %}
  <h3>Sobre mi</h3>
  <p>Mi nombre es Andrés Timoszuk, Ingeniero industrial, con 10 años de experiencia trabajando en Calidad y mejora continua en diferentes empresas.</p>
  <p>Tengo 38 años, soy nacido en La Plata, criado en Mar del Plata y vivo en Bariloche hace 1 año y medio.</p>
  <p>Me gusta viajar, soy apasionado por el futbol (hincha de Independiente de Avellaneda por herencia de mi viejo), y fanático de Green Day.</p>
  <p>Estoy actualmente capacitándome en programación porque me gusta el tema, y estoy seguro que es el futuro de la industria.</p>

<p>
    <a href="{% url 'Inicio' %}">Regresar al inicio</a>
</p>
{% endblock body %}